{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<!--<div class="row justify-content-center my-3">-->
<!--  <div class="col-5">-->
<!--    <img src="{% static 'portfolio/shashankpp.jpg' %}" class="img-fluid">-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row justify-content-center mb-3">-->
<!--  <div class="col-md-9 text-center">-->
<!--    <h1 id="hometext" class="font-weight-bold">Shashank Jaiswal is a Cyber Security Student at Sardar Patel University of Police, Security and Criminal Justice, Jodhpur, Rajasthan. 😊</h1>-->
<!--  </div>-->
<!--</div>-->


     <div class="left">
     </div>

            <h3>Educational Qualifications</h3>
            <table>
                <tr id="heading">
                    <td>Qualification</td>
                    <td>Board</td>
                    <td>Percentage / Grades</td>
                    <td>Year</td>
                </tr>
                <tr>
                    <td>S.S.C</td>
                    <td>Bihar Board</td>
                    <td>63.60%</td>
                    <td>2007</td>
                </tr>
                <tr>
                    <td>H.S.C (Science Stream)</td>
                    <td>Bihar Board</td>
                    <td>64.60%</td>
                    <td>2010</td>
                </tr>
                <tr>
                    <td>B.Tech. (I.T.)</td>
                    <td>Amrapali Institute, Uttrakhkand University</td>
                    <td>59.85%</td>
                    <td>2010-2014</td>
                </tr>
                <tr>
                    <td>M.Tech (Cyber Security)</td>
                    <td>Sardar Patel University of Police,Jodhpur</td>
                    <td>7.33 CGPA (Till     )</td>
                    <td>2019-2021</td>
                </tr>
            </table>

            <br>
            <h3>Technical Skills</h3>
            <p>
            <ul>
                <li>
                <span id="course-name">Programming Languages: </span> Java, Python</li>
                <li>
                <span id="course-name">Operating Systems: </span> Kali Linux, CentOS, Windows XP/7/10, TAILS, Qubes with Acunix</li>
                <li>
                    <span id="course-name">Website Development: </span> HTML, CSS, JavaScript, JQuery, Bootstrap, Django, Wordpress(CMS)</li>
                <li>
                    <span id="course-name">Scripting Language: </span> Bash Shell Scripting, Python Scripting</li>
                    <li><span id="course-name">Databases: </span> Oracle 10g, MySQL, SQLite</li>
                   <li> <span id="course-name">Virtualization: </span> Virtual Box, VMWare, Vagrant</li>
                  <li>  <span id="course-name">Containerization: </span> Docker, Docker Swarm</li>
                  <li>  <span id="course-name">Hypervisor: </span> XCP-ng</li>
                   <li> <span id="course-name">Version Control System: </span> Git, GitHub, BitBucket</li>
                   <li> <span id="course-name">Cloud: </span> AWS, OpenStack</li>
                   <li> <span id="course-name">DevOps Terminology: </span> Jenkins, Zabbix, Chef(SCM), ELK, HAProxy, Nginx, Gradle</li>
                   <li> <span id="course-name">Tools: </span> Wireshark, Metasploit, NMAP, Burp Suite, SQLMap, MATLAB 2010, Autopsy</li></ul>
            </p>
            <h3>Certifications / Workshops </h3>
            <p>
            <ul>
                <li>Attended two days workshop on Robotics with joint venture of IT-BHU \& ROBO-SAPIENS in November, 2010.</li>
                <li>Completed 16 hours Workshop on Ethical Hacking with joint venture of IIT-KHARAGPUR \& Kyrion Technology in February, 2011.</li>
                <li>Completed 6 weeks training on Networking from APPIN TECHNOLOGY LAB in July, 2013.</li>
                <li>Completed 6 months training on Java from Jspider Training and Placement Institute, Bangalore from August 2014 to March 2015.</li>
                <li>Successfully completed the Autopsy Basics and Hands On (8-Hours), 05 June, 2020 (Certification number:- zc1usnauyo)</li>
                <li>Successfully completed and earn the 15+ courses certificate on Coursera.    </li>
            </ul>
            </p>
            <h3>Area of Interest </h3>
            <p>
            <ul>
                <li>Hacking</li>
                <li>Playing PC games</li>
                <li>Cooking</li>
                <li>Solving Suduko</li>
                <li>Playing Piano</li>

            </ul>
            </p>
            <h3>Declaration</h3>
            <p>
            I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.</p>
     </div>
     <div id="footer"></div>


{% endblock %}